.body {
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
}
.bg {
	background-image: url(img/bg.jpg);
	background-repeat: repeat-x;
	background-color: #a9bad6;
}
.headerbg {
	background-image: url(img/header.png);
	background-repeat: no-repeat;
	height:156px;
}
.textheading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.breadcum {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.menutext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #d13341;
	font-weight:bold;
	text-decoration:none;
}
.tex {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 22px;
}
.phone {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 22px;
	font-weight:bold;
}
.menubg {
	background-image: url(images/menubar.png);
	background-repeat: repeat-x;
	height:39px;
}
.menu-header {
	width:780px;
	height:56px;
	float:left;
	position: absolute;
	margin-top:-5px;
}

.topmenu {
	font-family: "HattoriHanzoLight", Calibri, sans-serif;
	font-size:18px;
	z-index: 150;
	float:left;
	position:relative;
	z-index:2000}
	
.topmenu li {
	display:block;
	float:left;
	margin:0 1px 0 0;
	padding:0;
	list-style:none;}
	
.topmenu li a {
	color:#b3b3b3;
	display:block;
	text-decoration:none;
	float:left}

.topmenu li a span {
	display:block;
	padding:0 20px 0 14px;
	height:37px;
	margin-left:6px;
	cursor:pointer;
	float:left;
	line-height:33px;}

.topmenu li:hover a,
.topmenu .current-menu-item a,
.topmenu .current-menu-parent a,
.topmenu .current-menu-ancestor a
{
	background:url(images/topm_bg_left.png) top left no-repeat}

.topmenu li:hover a span,
.topmenu .current-menu-item a span,
.topmenu .current-menu-parent a span,
.topmenu .current-menu-ancestor a span
{
	background:url(images/topm_bg_right.png) top right no-repeat}

.topmenu li.parent:hover a {
	background:url(images/topm_bg2_left.png) top left no-repeat}

.topmenu li.parent:hover a span {
	background:url(images/topm_bg2_right.png) top right no-repeat}

.topmenu li:hover {
	position: relative;
	z-index: 309;
	cursor: pointer;}

.topmenu li ul {
	display:none;
	position: absolute;
	z-index:2000;
	top: 37px;
	left: -25px;
	z-index: 308;
	width: 200px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;}

.topmenu li ul li ul {
	position:relative;
	top:0;
	left:0;
	width: 200px;
	z-index: 308;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	margin:0}

.topmenu li:hover ul {
	display:block}

.topmenu li:hover ul li ul {
	display:none}

.topmenu li ul li {
	display:block;
	margin:0;
	list-style:none;
	border-bottom:1px solid #2a2a2a;
	clear:both;
	background:url(images/topm_sub_bg.png) 0 0;
	float:left;}
	
.topmenu li ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding:0;
	height: auto;}

.topmenu li ul li a span {
	display:block;
	height: auto;
	padding:10px 5px 10px 40px;
	width:155px;
	margin:0;
	line-height:18px;}

.topmenu li ul li ul li a span {
	width:140px;
	padding:5px 5px 0 40px;}

.topmenu li:hover ul li,
.topmenu li:hover ul li a:hover {
	background:url(images/topm_sub_bg.png) 0 0;}

.topmenu li:hover ul li.first {
	background:url(images/topm_bg_first.png) right top no-repeat;}
.topmenu li:hover ul li.first a:hover {
	background:url(images/topm_bg_first.png) right top no-repeat;}

.topmenu li:hover ul li.last {
	background:url(images/topm_bg_last.png) left bottom no-repeat;
	border-bottom:none}
.topmenu li:hover ul li.last a:hover {
	background:url(images/topm_bg_last.png) left bottom no-repeat;}

.topmenu li.parent:hover ul a span {
	background:url(images/ico_arrow_blue.gif) 20px 16px no-repeat}

.topmenu li.parent:hover ul li.parent a span {
	background:url(images/ico_arrow_blue.gif) 20px 16px no-repeat}

.topmenu li.parent:hover ul li.parent:hover a span  {
	background:url(images/ico_arrow_blue_down.gif) 20px 16px no-repeat}

.topmenu li.parent:hover ul li.open a span  {
	background:url(images/ico_arrow_blue_down.gif) 20px 16px no-repeat}

.topmenu li.parent:hover ul li.parent:hover ul li a span,
.topmenu li.parent:hover ul li.parent ul li a span {
	background:url(images/ico_dot_blue.gif) 38px 14px no-repeat;
	padding:7px 5px 7px 52px}

.topmenu li.parent:hover ul li.parent:hover ul li a,
.topmenu li.parent:hover ul li.parent ul li a{
	color:#2e88c7;}

.topmenu li.parent:hover ul li.parent:hover ul li,
.topmenu li.parent:hover ul li.parent ul li{
	border-bottom:none;
	background:none}

.topmenu li:hover ul a, .topmenu li.parent:hover ul a{
	background:none}

.topmenu ul ul {
	top: 1px;
	left: 99%;
}
